body {
	padding: 10px 10px 30px 0;
	margin: 0;
}

div.form-error {
	margin-left: 144px;
}

.title {
	background: #fff;
	padding-top: 2px;
}

.title label {
	color: #3d3d3d;
	text-transform: none;
}

.single .title {
	float: left;
	width: 136px;
	text-align: right;
}

.composite .title {
	margin-left: 30px;
}

.composite .title label {
	font-weight: bold;
	font-size: 14px;
}

div.title {
	background:none;
}
.title label {
	padding: 0;
	background:none;
	margin:0;
}

.single .form-element {
	margin-left: 144px;
	margin-bottom: 10px;
	clear: none;
}

.nestedForm div.label {
	width: 90px;
}

.nestedForm div.element {
	margin-left: 100px;
}

div.dynamicList .button-add,
.setButton .button-toggle {
	margin-left: 0;
}