table.locales th.locale,
table.pages th.locale {
	width: 20px;
}

table.pages tr.foreign-page td {
	color: #a4a4a4;
	font-style: italic;
}

table.pages tr.hidden-node td,
table.pages tr.hidden-page td {
		color: #a4a4a4;
}

.action-translate {
	background-image: url(icons/commands/add.gif);
}

.action-publishPage {
	background-image: url(icons/commands/publish.gif);
}

.action-unpublishPage {
	background-image: url(icons/commands/unpublish.gif);
}
