table.sites th.locale,
table.site-chooser th.locale {
	width: 20px;
}

table.sites th.locale span,
table.site-chooser th.locale span {
	display: none;
}

table.pages tr.foreign-page td {
	color: #a4a4a4;
	font-style: italic;
}

table.pages tr.hidden-node td,
table.pages tr.hidden-page td {
	color: #a4a4a4;
}

.action-translate {
	background-image: url(icons/commands/add.gif);
}

.action-publishPage {
	background-image: url(icons/commands/publish.gif);
}

.action-unpublishPage {
	background-image: url(icons/commands/unpublish.gif);
}


.pagePropertyInherit div.title label {
	background-color: #a4a4a4;
}
.pageProperty .button-toggle {
	position: absolute;
	right: 5px;
	height: 19px;
	color: #fff;
}
.nestedForm .pageProperty .button-overwrite {
	background-image: url(icons/edit_invert_small.gif);
	background-color: #a4a4a4;
}
.nestedForm .pageProperty .button-inherit {
	background-image: url(icons/remove_invert_small.gif);
	background-color: #3d3d3d;
}

