tr.foreign-page td {
	color: #a4a4a4;
	font-style: italic;
}

.action-translate {
	background-image: url(icons/commands/add.gif);
}

.action-publishPage {
	background-image: url(icons/commands/publish.gif);
}

.action-unpublishPage {
	background-image: url(icons/commands/unpublish.gif);
}
