body {
	padding: 10px 10px 30px 10px;
	margin: 0;
}

div.form-error {
	margin-left: 144px;
}

.indent {
	margin-left: 0;
}

.single .element {
	margin-bottom: 16px;
}

div.title {
	background: none;
}
.title label {
	padding: 2px 0 0 0;
	background: none;
	margin: 0;
	color: #3d3d3d;
	font-weight: bold;
	text-transform: none;
}
.title span.hint-trigger {
	background-image: url(images/hint.gif);
	background-position: 0px 3px;
}
