#riot-notification {
	background: ${highlight_color};
	color: #fff;
	padding: 10px;
	text-align: center;
	position: absolute;
	top: 0;
	width: 100%;	
}
#riot-notification a {
	color: #fff;
}

#riot-toolbar,
#riot-inspector {
	position: absolute;
	top: 6px;
}

body > #riot-toolbar,
body > #riot-inspector,
body > #riot-notification {
	position: fixed;
}

#riot-toolbar {
	left: 6px;
	z-index: 1000;
	text-align: left;
	width: 64px;
	background: url(images/toolbar/background.png) no-repeat;
}

#riot-toolbar-title {
	width: 40px;
	height: 20px;
	margin: 2px 0 2px 4px;
	cursor: move;
}

#riot-toolbar-buttons {
	width: 38px;
	padding: 3px 0;
	margin: 0 0 60px 6px;
}

#riot-toolbar-buttons a {
	margin: 0 3px 2px 3px;
}

#riot-toolbar a.toolbar-button,
#riot-toolbar a.toolbar-button-active,
#riot-toolbar a.toolbar-button-disabled {
	display: block;
	width: 30px;
	height: 31px;
	background-image: url(images/toolbar/buttons.png);
	background-repeat: no-repeat;
	padding: 0;
	cursor: default;
}

#riot-toolbar a.toolbar-button,
#riot-toolbar a.toolbar-button-active {
	-moz-outline: none;
}

#riot-toolbar-button-browse {
	background-position: -62px 0;
}
#riot-toolbar-button-browse.toolbar-button:hover {
	background-position: -31px 0;
}
#riot-toolbar-button-browse.toolbar-button-active,
#riot-toolbar-button-browse.toolbar-button:active {
	background-position: 0 0;
}

#riot-toolbar-button-insert {
	background-position: -62px -31px;
}
#riot-toolbar-button-insert.toolbar-button:hover {
	background-position: -31px -31px;
}
#riot-toolbar-button-insert.toolbar-button-active,
#riot-toolbar-button-insert.toolbar-button:active {
	background-position: 0 -31px;
}


#riot-toolbar-button-remove {
	background-position: -62px -62px;
}
#riot-toolbar-button-remove.toolbar-button:hover {
	background-position: -31px -62px;
}
#riot-toolbar-button-remove.toolbar-button-active,
#riot-toolbar-button-remove.toolbar-button:active {
	background-position: 0 -62px;
}


#riot-toolbar-button-edit {
	background-position: -62px -93px;
}
#riot-toolbar-button-edit.toolbar-button:hover {
	background-position: -31px -93px;
}
#riot-toolbar-button-edit.toolbar-button-active,
#riot-toolbar-button-edit.toolbar-button:active {
	background-position: 0 -93px;
}

#riot-toolbar-button-properties {
	background-position: -62px -124px;
}
#riot-toolbar-button-properties.toolbar-button:hover {
	background-position: -31px -124px;
}
#riot-toolbar-button-properties.toolbar-button-active,
#riot-toolbar-button-properties.toolbar-button:active {
	background-position: 0 -124px;
}

#riot-toolbar-button-move {
	background-position: -62px -155px;
}
#riot-toolbar-button-move.toolbar-button:hover {
	background-position: -31px -155px;
}
#riot-toolbar-button-move.toolbar-button-active,
#riot-toolbar-button-move.toolbar-button:active {
	background-position: 0 -155px;
}


#riot-toolbar-button-logout {
	background-position: -62px -186px;
}
#riot-toolbar-button-logout:hover {
	background-position: -31px -186px;
}
#riot-toolbar-button-logout:active {
	background-position: 0 -186px;
}

#riot-toolbar-button-discard {
	background-position: -62px -217px;
}
#riot-toolbar-button-discard.toolbar-button:hover {
	background-position: -31px -217px;
}
#riot-toolbar-button-discard.toolbar-button-active,
#riot-toolbar-button-discard.toolbar-button:active {
	background-position: 0 -217px;
}
#riot-toolbar-button-discard.toolbar-button-disabled {
	background-position: -93px -217px;
}


#riot-toolbar-button-publish {
	background-position: -62px -248px;
}
#riot-toolbar-button-publish.toolbar-button:hover {
	background-position: -31px -248px;
}
#riot-toolbar-button-publish.toolbar-button-active,
#riot-toolbar-button-publish.toolbar-button:active {
	background-position: 0 -248px;
}
#riot-toolbar-button-publish.toolbar-button-disabled {
	background-position: -93px -248px;
}
#riot-toolbar #riot-toolbar-button-apply {
	margin-top: 8px;
}
#riot-toolbar-button-apply {
	background-position: -62px -279px;
}
#riot-toolbar-button-apply:hover {
	background-position: -31px -279px;
}
#riot-toolbar-button-apply:active {
	background-position: 0 -279px;
}
#riot-toolbar-button-apply.toolbar-button-disabled {
	background-position: -93px -279px;
}

#riot-toolbar a.toolbar-button-disabled {
	xbackground-color: #a4a4a4;
	cursor: default;
}

#riot-inspector {
	left: 49px;
	width: 460px;
	z-index: 100;
	background-color: #fff;
	border: 3px solid ${toolbar_border_color};
	display: none;
}

#riot-inspector .headline {
	color: #3d3d3d;
	background-color: #ebebeb;
	border-bottom: 1px solid ${toolbar_border_color};
	padding: 5px 20px;
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size:12px;
	line-height: 16px;
	font-weight: 500;
	text-align: left;
	margin:0;
}

.riot-close-button {
	position: absolute;
	z-index: 1;
	top: 5px;
	right: 5px;
	width: 16px;
	height: 16px;
	background: url(icons/dialogs/close.gif) no-repeat;
}

#riot-inspector .type-inspector {
	padding: 5px 20px;
	max-height: 250px;
	overflow: auto;
}

#riot-inspector .type-inspector .type {
	padding: 1px 10px 1px 16px;
	margin: 1px 0;
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size:11px;
	text-align: left;
	color: #3d3d3d;
	background: url(icons/dialogs/componentType.gif) top left no-repeat;
	cursor: pointer;
	cursor: hand;
}

#riot-inspector .type-inspector .active-type {
	padding: 1px 10px 1px 16px;
	margin: 1px 0;
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size: 11px;
	text-align: left;
	color: #fff;
	background: ${highlight_color} url(icons/dialogs/componentType_hi.gif) top left no-repeat;
}

#riot-inspector span.messageCode {
	padding: 0 0 0 20px;
	text-decoration: none;
	background: url(images/i18n.gif) right center no-repeat;
}

.riot-insert-button {
	clear: both;
	display: block;
	position:relative;
	height: 16px;
	color: #fff;
	border: 2px solid ${toolbar_border_color};
	background: #fff url(images/insert_bg.gif) center 0px no-repeat;
	margin: 4px;
}

html .riot-insert-button-active {
	background-color: #3d3d3d;
	background-position: center -16px;
}

.riot-component-list:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.riot-component-list {
	clear: both;
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .riot-component-list {height: 1%;}
.riot-component-list {display: block;}
/* End hide from IE-mac */


.riot-component-list .riot-component {
	clear: none;
}

div.riot-editor {
	clear: none;
}

.riot-moveable-component,
.riot-moveable-component * {
	cursor: move;
}

.riot-editable-text {
	cursor: text;
}

.riot-editable-text:hover {
	cursor: crosshair;
}

div.riot-highlight {
	position: absolute;
	z-index: 999;
	width: 1px;
	height: 1px;
}
div.riot-highlight-left, 
div.riot-highlight-right {
	background: url(images/ants_v.gif);
	overflow: hidden;
}
div.riot-highlight-top, 
div.riot-highlight-bottom {
	background: url(images/ants_h.gif);
	overflow: hidden;
}

.riot-empty-list {
	padding: 10px;
}

.riot-no-inheritance {
	display: none;
}

.riot-mode-insert .riot-no-inheritance,
.riot-mode-remove .riot-no-inheritance,
.riot-moveable-component .riot-no-inheritance {
	display: block;
	padding: 6px;
	margin-bottom: 8px;
	color: #3d3d3d;
	background-color: #fff;
	border: 2px solid ${toolbar_border_color};
}


.riot-stacktrace {
	color: #3d3d3d;
	padding: 3px;
	height: 300px;
	width: 100%;
	overflow: auto;
}

/* Popup Text Editors (Textile, Markdown, TinyMCE) */

#riot-popup {
	position:absolute;
	top: 0;
	left: 0;
	z-index:1002;
	width: 600px;
	margin: 0 auto;
	background-color: #3d3d3d;
	padding:3px;
}

body > #riot-popup {
	position: fixed;
}

#riot-popup div,
#riot-popup iframe {
	margin: 0;
	padding: 0;
	border: none;
	background-color: #fff;
	background-image: none;
}
#riot-popup iframe {
	width: 100%;
}

#riot-popup .headline {
	color: #3d3d3d;
	background-color: #ebebeb;
	padding: 5px 20px;
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size:12px;
	line-height: 16px;
	font-weight: 500;
	text-align: left;
}
.riot-dialog textarea {
	border: none;
	margin-top: 1px;
	padding-left: 20px;
	font-family: monospace;
	font-size: 12px;
	line-height: 18px;
}

.riot-dialog div.mceEditor {
	width: 100%;
}

.riot-dialog .mceEditor img {
	margin: 0;
}

.riot-dialog table.mceLayout {
	border-spacing: 0;
	border-collapse: collapse;
	border: none;
}
.riot-dialog td {
	padding: 0;
	margin: 0;
}

#riot-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-Index: 1001;
	width: 100%;
	height: 100%;
	background-color: #000;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}
body > #riot-overlay {
	position: fixed;
}

#riotPreviewFrame {
	border: none;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	height:100%;
}

.cropper .se-resize {
	width: 12px;
	height: 12px;
	background: url(images/resize.gif);
}
.cropper .sw-resize {
	width: 12px;
	height: 12px;
	background: url(images/resize_sw.gif);
}

img.nosrc {
	background: url(images/checkerboard_dark.gif);
}

.riot-inplace-text-editor:focus {
	outline: none;
}
