#riot-toolbar,
#riot-inspector {
	position: absolute;
	top: 6px;
}

body > #riot-toolbar,
body > #riot-inspector {
	position: fixed;
}

#riot-toolbar {
	left: 6px;
	z-index: 1000;
	text-align: left;
	width: 40px;
}

#riot-toolbar-buttons {
	background-color: ${toolbarOutline};
	width: 38px;
	padding: 3px 0;
	margin: auto;
}

#riot-toolbar-buttons a {
	margin: 0 3px;
}

#riot-toolbar a.toolbar-button,
#riot-toolbar a.toolbar-button-active,
#riot-toolbar a.toolbar-button-disabled {
	display: block;
	width: 32px;
	height: 32px;
	background-color: #3d3d3d;
	background-image: url(icons/toolbar.gif);
	background-repeat: no-repeat;
	padding: 0;
	cursor: default;
}

#riot-toolbar a.toolbar-button:hover {
	background-color: ${highlight};
}

#riot-toolbar a.toolbar-button-active {
	background-color: #3d3d3d;
	-moz-outline: none;
}

#riot-toolbar-button-browse {
	background-position: -32px 0;
}
#riot-toolbar-button-browse.toolbar-button-active {
	background-position: -32px -32px;
}

#riot-toolbar-button-insert {
	background-position: -64px 0;
}
#riot-toolbar-button-insert.toolbar-button-active {
	background-position: -64px -32px;
}

#riot-toolbar-button-remove {
	background-position: -96px 0;
}
#riot-toolbar-button-remove.toolbar-button-active {
	background-position: -96px -32px;
}

#riot-toolbar-button-edit {
	background-position: -128px 0;
}
#riot-toolbar-button-edit.toolbar-button-active {
	background-position: -128px -32px;
}

#riot-toolbar-button-properties {
	background-position: -160px 0;
}
#riot-toolbar-button-properties.toolbar-button-active {
	background-position: -160px -32px;
}

#riot-toolbar-button-move {
	background-position: -192px 0;
}
#riot-toolbar-button-move.toolbar-button-active {
	background-position: -192px -32px;
}

#riot-toolbar-button-logout {
	background-position: -224px 0;
}

#riot-toolbar-button-discard {
	background-position: -256px 0;
}
#riot-toolbar-button-discard.toolbar-button-active {
	background-position: -256px -32px;
}

#riot-toolbar-button-publish {
	background-position: -288px 0;
}
#riot-toolbar-button-publish.toolbar-button-active {
	background-position: -288px -32px;
}

#riot-toolbar #riot-toolbar-button-apply {
	background-position: -320px -32px; 
	background-color: ${highlight};
	border: 3px solid ${toolbarOutline};
	margin:8px auto;
}

#riot-toolbar a.toolbar-button-disabled {
	background-color: #a4a4a4;
	cursor: default;
}

#riot-inspector {
	left: 49px;
	width: 460px;
	z-index: 100;
	background-color: #fff;
	border: 3px solid ${toolbarOutline};
	display: none;
}

#riot-inspector .headline {
	color: #3d3d3d;
	background-color: #ebebeb;
	border-bottom: 1px solid ${toolbarOutline};
	padding: 5px 20px;
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size:12px;
	line-height: 16px;
	font-weight: 500;
	text-align: left;
	margin:0;
}

.riot-close-button {
	position: absolute;
	z-index: 1;
	top: 5px;
	right: 5px;
	width: 16px;
	height: 16px;
	background: url(icons/dialogs/close.gif) no-repeat;
}

#riot-inspector .type-inspector {
	padding: 5px 20px;
	max-height: 250px;
	overflow: auto;
}

#riot-inspector .type-inspector .type {
	padding: 1px 10px 1px 16px;
	margin: 1px 0;
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size:11px;
	text-align: left;
	color: #3d3d3d;
	background: url(icons/dialogs/componentType.gif) top left no-repeat;
	cursor: pointer;
	cursor: hand;
}

#riot-inspector .type-inspector .active-type {
	padding: 1px 10px 1px 16px;
	margin: 1px 0;
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size: 11px;
	text-align: left;
	color: #fff;
	background: ${highlight} url(icons/dialogs/componentType_hi.gif) top left no-repeat;
}

.riot-insert-button {
	clear: both;
	display: block;
	position:relative;
	height: 16px;
	color: #fff;
	border: 2px solid ${toolbarOutline};
	background: #fff url(images/insert_bg.gif) center 0px no-repeat;
	margin: 4px;
}

html .riot-insert-button-active {
	background-color: #3d3d3d;
	background-position: center -16px;
}

.riot-component-list:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.riot-component-list {
	clear: both;
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .riot-component-list {height: 1%;}
.riot-component-list {display: block;}
/* End hide from IE-mac */


.riot-component-list .riot-component {
	clear: none;
}

div.riot-editor {
	clear: none;
}

.riot-moveable-component,
.riot-moveable-component * {
	cursor: move;
}

.riot-editable-text {
	cursor: text;
}

.riot-editable-text:hover {
	cursor: crosshair;
}

div.riot-highlight {
	position: absolute;
	z-index: 999;
	width: 1px;
	height: 1px;
}
div.riot-highlight-left, 
div.riot-highlight-right {
	background: url(images/ants_v.gif);
}
div.riot-highlight-top, 
div.riot-highlight-bottom {
	background: url(images/ants_h.gif);
}

.riot-empty-list {
	padding: 10px;
}

.riot-no-inheritance {
	display: none;
}

.riot-mode-remove .riot-no-inheritance,
.riot-mode-changeType .riot-no-inheritance,
.riot-moveable-component .riot-no-inheritance {
	display: block;
	padding: 6px;
	margin-bottom: 8px;
	color: #3d3d3d;
	background-color: #fff;
	border: 2px solid ${toolbarOutline};
}


.riot-stacktrace {
	color: #3d3d3d;
	padding: 3px;
	height: 300px;
	width: 100%;
	overflow: auto;
}

/* Popup Text Editors (Textile, Markdown, TinyMCE) */

#riot-popup {
	position:absolute;
	top: 0;
	left: 0;
	z-index:1000;
	width:600px;
	margin: 0 auto;
	background-color: #3d3d3d;
	padding:3px;
}

body > #riot-popup {
	position: fixed;
}

#riot-popup div,
#riot-popup iframe {
	margin: 0;
	padding: 0;
	border: none;
	background-image: none;
}

#riot-popup .headline {
	color: #3d3d3d;
	background-color: #ebebeb;
	padding: 5px 20px;
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size:12px;
	line-height: 16px;
	font-weight: 500;
	text-align: left;
}
#riot-popup textarea {
	width: 580px;
	height: 400px;
	border: none;
	margin-top: 1px;
	padding-left: 20px;
	font-family: monospace;
	font-size: 12px;
	line-height: 18px;
}

* html #riot-popup.riot-richtext textarea {
	width: 579px;
}

#riot-popup iframe.properties {
	width: 100%;
	border: none;
	margin-top: 1px;
	background: #fff;
}

#riot-popup .button-ok {
	color: #3d3d3d;
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size: 12px;
	height: 25px;
	line-height: 23px;
	float: right;
	margin-top: 3px;
	padding: 0 25px 0 45px;
	background: #fff url(icons/dialogs/ok.gif) 18px center no-repeat;
	cursor: pointer;
	cursor: hand;
}

#riot-popup .riot-help-button,
#riot-popup .riot-close-button {
	position: absolute;
	z-index: 1;
	top: 7px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	cursor: hand;
}

#riot-popup .riot-help-button {
	right: 34px;
	background: url(icons/dialogs/help.gif) center center no-repeat;
}
#riot-popup .riot-close-button {
	right: 10px;
	background: url(icons/dialogs/close.gif) center center no-repeat;
}

#riot-popup .mceEditor td.container {
	border-bottom:1px solid #3d3d3d;
	padding-left: 20px;
}

#riot-popup .mceEditor img {
	margin: 0;
}

table.mceEditor {
	border-spacing: 0;
	border-collapse: collapse;
	border: none;
}
.mceEditor td {
	padding: 0;
	margin: 0;
}

#riot-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-Index: 999;
	width: 100%;
	height: 100%;
	background-color: #000;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}
body > #riot-overlay {
	position: fixed;
}

.riot-publish-outline,
.riot-discard-outline {
	top: 0;
	left: 0;
	background: url(images/pixel.gif);
}
.riot-publish-outline-preview,
.riot-discard-outline-live {
	border: 2px dotted ${highlight};
}
.riot-publish-outline-live,
.riot-discard-outline-preview {
	border: 2px dotted #cdcdcd;
}
.riot-publish-outline-live div,
.riot-discard-outline-preview div {
	background-color: #fff;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.cropper .se-resize {
	width: 12px;
	height: 12px;
	background: url(images/resize.gif);
}
.cropper .sw-resize {
	width: 12px;
	height: 12px;
	background: url(images/resize_sw.gif);
}

img.nosrc {
	background: url(images/checkerboard_dark.gif);
}
