.commands .action {
	display: block;
	width: 117px;
	float: left;
	text-decoration: none;
	margin: 0 0 1px 1px;
}

.commands .action .icon {
	float: left;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: 12px 7px;
}

.commands .label {
	display: block;
	padding: 7px 0 0 36px;
	text-transform: capitalize;
	color: #000;
	font-size: 11px;
	line-height: 18px;
}

.commands .disabled .label {
	color: #a4a4a4;
}

.commands .enabled:hover,
.commands .enabled:focus {
	background: url(images/command-hover-bg.gif) no-repeat;
	outline: none;
	-moz-outline: none;
}

.commands .disabled .icon {
	cursor: default;
	opacity: 0.5;
}

.box .commands a:hover {
	text-decoration: none;
}