/**
 * Common styles shared by several views
 */
html, body {
	height:100%;
}
body {
	background: #575757 url(images/bg.jpg) no-repeat;
	color: #3d3d3d;
	margin: 0;
	padding: 0;
}
body, a, td, th, h1, h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
b {
	font-weight: normal;
}
img {
	border: 0;
}
table {
	border-spacing: 0;
}
td {
	margin: 0;
	padding: 0;
	vertical-align: top;
}

#page {
	background-color: #fff;
	height: 100%;
}
#header {
	padding: 30px;
	overflow: hidden;
}
#logo {
	position: absolute;
	top: 25px;
	right: 37px;
	background-position: top right;
	background-repeat: no-repeat;
	
}
#content {
	clear: both;
	position: relative;
	margin: 10px 20px 0 30px;
}
#footer {
	background: #575757 url(images/footer_bg.gif) repeat-x;
	height: 50px;
	margin-top: -50px;
}
#footer-content {
	height: 38px;
	background: url(images/riot_footer.gif) right 18px no-repeat;
}
.main {
	padding-right: 300px;

}
.extra {
	width: 280px;
	position: absolute;
	top: 0;
	right: 0;
}
.wide {
	margin-right: 0px;
}
.wide .extra {
	display: none;
}
.extra .box {
	border: 1px solid #dadada;
	background-color: #f0f0f0;
	padding: 10px;
	margin-bottom: 50px;
	width: 240px;
	overflow: hidden;
}
.extra .box-title {
	display: none;
}

span.locale img {
	margin-right: 6px;
}

span.messageCode {
	padding: 0 0 0 20px;
	text-decoration: none;
	background: url(images/i18n.gif) right center no-repeat;
}

#path {
	overflow: hidden;
}

#path a {
	text-decoration: none;
}
#path .screen {
	display: block;
	float: left;
	line-height: 31px;
	height: 31px;
	color: #333;
}
#path b {
	display: block;
	line-height: 31px;
	background-repeat: no-repeat;
}

#path .screen {
	background-image: url(images/path/next.gif);
	padding: 0 0 0 19px;
	margin-left: -19px;
}
#path a.screen:hover {
	background-position: 0 -31px;
}

#path .first {
	background-repeat: no-repeat;
	background-image: url(images/path/left.gif);
	padding: 0 0 0 4px;
	margin-left: 0;
}
#path a.first:hover {
	background-position: 0 -31px;
}
#path .active b {
	background-position: top right;
	background-image: url(images/path/right.gif);
	padding: 0 4px 0 0;
}
#path .screen b b {
	background-repeat: repeat-x;
	background-image: url(images/path/center.gif);
	padding: 0 23px 0 8px;
}
#path a.screen:hover b b {
	background-position: 0 -31px;
}
#path .active b b {
	padding: 0 10px 0 8px;
}
#path .first b b {
	text-indent: -999px;
	width: 34px;
	background-position: 0 0;
	background-image: url(images/path/home.gif);
}
#path a.first:hover b b {
	background-position: 0 -31px;
}	

