@import url(common.css);

.group .box-title {
	background: ${title_bg_color} url(images/corner.gif) top left no-repeat;
}
.group .box-title span {
	margin: 0 0 0 1px;
}

.group a {
	display: block;
	border-bottom: 1px solid #ebebeb;
	height: 80px;
	color: #3d3d3d;
	text-decoration: none;
}
.group .icon {
	display: -moz-inline-stack;
	display: inline-block;
	width: 80px;
	height: 80px;
	_height: 79px;
	vertical-align: middle;
	background: ${highlight_color} url(icons/editors/arrow.gif) no-repeat;
}

.group a:hover,
.group a:focus {
	background-color: #ebebeb;
	outline: none;
	-moz-outline: none;
}
.group a:hover .icon,
.group a:focus .icon {
	background-position: 0px -80px;
}
.group .text {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	padding-left: 16px;
}

.group a.screen .label {
	font-size: 14px;
	font-weight: bold;
	color: ${label_color};
}
