#filter label {
	display:block;
}
#filter div.element {
	margin-bottom: 10px;
}

#filter .checkbox-element {
	position: relative;
	_height: 1px;
	margin-bottom: 10px;
}
#filter .checkbox-element label {
	padding-left: 20px;
}
#filter .checkbox-element input {
	position: absolute;
	left: 0px;
	top: 0;
	margin: 0;
}

#filter .buttons {
	margin: 10px 0 0 0;
}

#search input.text {
	margin: 4px 0 11px 0;
}
#search .title .icon {
	background-image: url(images/search.gif);
}

#chooser #body-wrapper {
	padding-top: 10px;
}
#chooser div.extra {
	top: 10px;
}

div#list {
	overflow: auto;
	overflow-y: hidden;
	overflow-x: auto;
	position: relative;
}

#list table {
	width: 99%;
	border-collapse: collapse;
	background-color: #fff;
}

#list th, 
#list td {
	padding: 2px 3px 2px 18px;
	margin: 0;
	max-width: 500px;
}
#list th {
	border-bottom: 1px solid #dadada;
	color: #333;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
}
#list td {
	height: 32px;
	word-wrap: break-word;
}
#list tr.selected {
	background-color: #f5f8da;
}
#list tr.highlight {
	background-color: #f0f0f0;
}
#list tr.highlight-selected {
	background-color: #eff7b4;
}

#list td {
	float: none;
	cursor: default;
	-moz-user-select: none;
	user-select: none;
	vertical-align: middle;
}
#list tbody td {
	border-bottom: 1px solid #dadada;
}
#list td img {
	vertical-align: middle;
}

th.sortable {
	cursor: pointer;
}
th span {
	padding-right: 16px;
}
th .sorted-asc {
	background: url(images/asc.gif) right center no-repeat;
}
th .sorted-desc {
	background: url(images/desc.gif) right center no-repeat;
}
 
.expand {
	display: -moz-inline-stack;
	display: inline-block;
	width: 25px;
	height: 32px;
	background: url(images/expand_collapse.gif) 0 -64px no-repeat;
	cursor: pointer;
	vertical-align: middle;
}

.expandable .expand {
	background-position: 0 0;
}
.expanded .expand {
	background-position: 0 -32px;
}
.expanding .expand { 
	background: url(images/expanding.gif) 0 0 no-repeat;
}

tr.cut,
tr.copied {
	font-style: italic;
}

.pager {
	background-color: #ebebeb;
	padding: 14px;
	text-align: center;
}
.pager a, 
.pager .current-page {
	text-decoration: none;
	color: #000000;
	padding: 1px 4px;
}
.pager .current-page {
	color: #fff;
	background-color: #777;
	font-weight: bold;
}
.pager .gap {
	font-size: 8px;
	color: #635a45;
}
.pager .gap {
	font-size: 8px;
	color: #635a45;
}

td.data .css-cell {
	display: block;
	width: 29px;
	height: 29px;
	background-position: center center;
	background-repeat: no-repeat;
}

td div.true {
	width: 29px;
	height: 29px;
	background-image: url(images/true.gif);
}
td div.false {
	width: 29px;
	height: 29px;
	background-image: url(images/false.gif);
}

