body {
	background: #575757 url(images/bg.jpg) no-repeat;
}
table {
	border-collapse: collapse;
}
table.center {
	height: 100%;
	margin:auto;
}
td.center {
	width: 100%;
	vertical-align: middle;
}
#wrapper {
	height: 100%;
	background: url(images/riot_footer.gif) bottom right no-repeat;
}

.username td,
.password td {
	padding-bottom: 10px;
	vertical-align: middle;
}
td.label,
tr.button td.input {
	text-align: right;
	font-weight: bold;
	padding-left: 3px;
}
td.input {
	padding-left: 10px;
}
#username, #password {
	border: 1px solid #E0E0E0;
	padding: 4px;
	width: 140px;
}

.error {
	background: url(images/error.png) left center no-repeat;
	line-height: 20px;
	padding-left: 20px;
	margin-bottom: 10px;
}

.button span {
	display: inline-block;
	display: -moz-inline-stack;
	_display: inline-block;
	height: 32px;
	background: url(images/button_bg.gif) 0 -32px repeat-x;
}

.button input {
	background: url(images/button_bg.gif) repeat-x;
	border: 0;
	font-family: Arial;
	font-size: 11px;
	height: 32px;
	padding: 0 20px;
	margin: 0 1px;
}

.box .t,
.box .b {
	height: 18px;
}
.box .l,
.box .r {
	width: 25px;
}

.box .t .l {
	background-image: url(images/login/tl.png);
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${contextPath}${resourcePath}/style/images/login/tl.png', sizingMethod='scale');
	_background: transparent;
}
.box .t .c {
	background-image: url(images/login/tc.png);
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${contextPath}${resourcePath}/style/images/login/tc.png', sizingMethod='scale');
	_background: transparent;
}
.box .t .r {
	background-image: url(images/login/tr.png);
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${contextPath}${resourcePath}/style/images/login/tr.png', sizingMethod='scale');
	_background: transparent;
}
.box .m .l {
	background-image: url(images/login/ml.png);
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${contextPath}${resourcePath}/style/images/login/ml.png', sizingMethod='scale');
	_background: transparent;
}
.box .m .c {
	background-color: #f0f0f0;
	padding: 20px;
}
.box .m .r {
	background-image: url(images/login/mr.png);
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${contextPath}${resourcePath}/style/images/login/mr.png', sizingMethod='scale');
	_background: transparent;
}
.box .b .l {
	background-image: url(images/login/bl.png);
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${contextPath}${resourcePath}/style/images/login/bl.png', sizingMethod='scale');
	_background: transparent;
}
.box .b .c {
	background-image: url(images/login/bc.png);
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${contextPath}${resourcePath}/style/images/login/bc.png', sizingMethod='scale');
	_background: transparent;
}
.box .b .r {
	background-image: url(images/login/br.png);
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${contextPath}${resourcePath}/style/images/login/br.png', sizingMethod='scale');
	_background: transparent;
}