@import url(common.css);

table.center {
	height: 100%;
	margin:auto;
}
td.center {
	width: 100%;
	vertical-align: middle;
}
#wrapper {
	height: 100%;
	background: url(images/riot_footer.gif) bottom right no-repeat;
}

.username td,
.password td {
	padding-bottom: 10px;
	vertical-align: middle;
}
td.label,
tr.button td.input {
	text-align: right;
	font-weight: bold;
	padding-left: 3px;
}
td.input {
	padding-left: 10px;
}
#username, #password {
	border: 1px solid #cacaca;
	padding: 4px;
}

.error {
	background: url(images/error.png) left center no-repeat;
	line-height: 20px;
	padding-left: 20px;
	margin-bottom: 10px;
}

.box .t,
.box .b {
	height: 18px;
}
.box .l,
.box .r {
	width: 25px;
}

.box .t .l {
	background-image: url(images/login/tl.png);
}
.box .t .c {
	background-image: url(images/login/tc.png);
}
.box .t .r {
	background-image: url(images/login/tr.png);
}
.box .m .l {
	background-image: url(images/login/ml.png);
}
.box .m .c {
	background-color: #f0f0f0;
	padding: 20px;
}
.box .m .r {
	background-image: url(images/login/mr.png);
}
.box .b .l {
	background-image: url(images/login/bl.png);
}
.box .b .c {
	background-image: url(images/login/bc.png);
}
.box .b .r {
	background-image: url(images/login/br.png);
}