.action {
	display: block;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
}

.action-edit {
	background-image: url(icons/commands/edit.gif);
}
.action-view {
	background-image: url(icons/commands/view.gif);
}
.action-link {
	background-image: url(icons/commands/link.gif);
}
.action-delete {
	background-image: url(icons/commands/delete.gif);
}
.action-moveUp {
	background-image: url(icons/commands/moveUp.gif);
}
.action-moveDown {
	background-image: url(icons/commands/moveDown.gif);
}
.action-cut {
	background-image: url(icons/commands/cut.gif);
}
.action-copy {
	background-image: url(icons/commands/copy.gif);
}
.action-choose {
	background-image: url(icons/commands/choose.gif);
}
.action-stepInto,
.action-descend {
	background-image: url(icons/commands/stepInto.gif);
}
.action-add {
	background-image: url(icons/commands/add.gif);
}
.action-paste {
	background-image: url(icons/commands/paste.gif);
}

tr.cut td {
	font-style: italic;
}
tr.cut .action-cut,
tr.copied .action-copy {
	background-position: 0 -64px;
}
tr.cut .action-cut:hover,
tr.copied .action-copy:hover {
	background-color: #ebebeb;
	background-position: 0 -64px;
}

#commands .action {
	margin: 4px 0;
	width: auto;
	text-decoration: none;
	padding-left: 32px;
}
#commands .action span {
	display: block;
	padding-left: 4px;
	background-color: #ebebeb;
	text-transform: capitalize;
	color: #000 !important;
	font-size: 11px;
	line-height: 32px;
}
#commands .action:hover {
	background-position: 0 -32px;
	background-color: ${highlight};
}
#commands .disabled {
	cursor: default;
}
.extra #commands .disabled {
	background-position: 0 -64px;
}
.extra #commands .disabled:hover {
	background-color: #ebebeb;
}
