/**
 * Common styles shared by several views
 */
body {
	color:#000;
	margin:0;
	padding: 30px 0;
}
body, a, td, th, h1, h2 {
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size:12px;
}
a {
	color: ${highlight};
}
img {
	border:0;
}
table {
	border-spacing: 0;
}
td {
	margin: 0;
	padding: 0;
	vertical-align: top;
}

#wrapper {
	width: 100%;
	float: left;
}
.main {
	margin-right: 320px;
}
div.extra {
	float:left;
	width: 280px;
	margin-left: -280px;
}
.wide .main {
	margin-right: 0px;
}
.wide .extra {
	display: none;
}
.extra .box {
	background-color: #ebebeb;
	padding-bottom: 10px;
	margin-bottom: 50px;
	width: 260px;
}
.extra .box form {
	margin: 8px 32px 4px 35px;
}

.extra .title {
	background: ${highlight} url(images/list.gif) top left no-repeat;
}

div.title,
div.title span,
div.title label {
	color: #fff;
	text-transform: uppercase;
}

div.title label,
div.title .label {
	display: block;
	margin-left: 32px;
	padding: 2px 0 2px 6px;
	background: #3d3d3d url(images/corner.gif) top right no-repeat;
}
* html .title {height: 1%;}

.corner-tr,
.corner-br {
	margin-right: expression(-1 * (this.parentNode.offsetWidth % 2));
}

span.messageCode {
	padding: 0 0 0 20px;
	text-decoration: none;
	background: url(images/i18n.gif) right center no-repeat;
}