@import url(common.css);

h1 {
	color: ${error_color};
}

h2 {
	margin-top: 32px;
}

a.detail {
	font-weight: bold;
	color: #000;
	text-decoration: underline;
}

#stacktrace {
	font-size: 11px;
	display: none;
}

#stacktrace .source {
	font-style: italic;
}

