@import url(common.css);

#childLists .list {
	margin-top:10px;
}
#childLists .item {
	padding: 3px 0 3px 35px;
}
#childLists a {
	font-weight: bold;
}

#commands .saveButton {
	background-image: url(icons/commands/save.gif);
}

#form-options,
#message {
	background-color: #ebebeb;
	padding: 20px 10px 20px 36px;
	margin-bottom: 50px;
}

#form-options form {
	margin-top: 10px;
}

.buttons {
	clear:both;
	margin-bottom: 30px;
}
.buttons .button {
	display: block;
	float: right;
	width: 144px;
	height: 56px;
	background-color: ${highlight};
	background-position: 10px 10px;
	background-repeat: no-repeat;
}
.buttons .button .face {
	padding: 10px 0 0 40px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size:12px;
}

.buttons .button-save {
	background-image: url(images/save.gif);
}
.buttons .button-execute {
	background-image: url(images/play.gif);
}

#saving {
	margin-left: 32px;
}

div.form-error,
label.error,
.indent label.error {
	color: ${highlight};
}
.title label.error {
	color: #fff;
}
div.form-error {
	margin:15px 0;
}

ul.errors {
	padding-left: 0;
	margin: 0;
}
ul.errors li {
	margin: 5px 0;
	list-style-type: none;
	color: ${highlight};
	font-weight: normal;
}

label {
	font-size: 12px;
	font-weight: bold;
	color: #3d3d3d;
	-moz-user-select: none;
}

div.title {
	background: ${highlight} url(images/list.gif) top left no-repeat;
}
div.title label {
	display: block;
	font-weight: normal;
}
div.title .no-label {
	display: block;
	height: 12px;
}

.single .element {
	margin-top: 6px;
}

textarea, input.text, input.number, input.password, select, option {
	font-family: verdana, arial, sans-serif;
	font-size:11px;
	color: #3d3d3d;
}
textarea, input.text, input.number, input.password {
	display: block;
	padding: 4px;
	-moz-box-sizing: border-box;
}
textarea, input.text, input.password {
	width: 100%;
}

input.text, input.number, input.password {
	height: 26px;
}

span.read-only {
	line-height: 26px;
}

textarea {
	line-height: 18px;
}
.counter {
	display:inline;
	float:right;
	margin:-1px 0 10px 0;
	padding:0 4px;
	color:#3d3d3d;
	font-size:11px;
	background-color:#ebebeb;
}

textarea,
input.text,
input.number,
input.password,
.mceEditor {
	border: 1px solid #e0e0e0;
}

.spinButtons div {
	width: 13px;
}
.spinButtons .increase {
	background: #ebebeb url(images/up.gif) 0px center no-repeat;
}
.spinButtons .decrease {
	background: #ebebeb url(images/down.gif) 0px center no-repeat;
}
.spinButtons .increase:hover,
.spinButtons .decrease:hover {
	background-color: ${highlight};
	background-position: -13px center;
}

.numberInput .unit {
	float: left;
	padding: 5px 0 0 7px;
	font-size: 12px;
	color: #3d3d3d;
}

.mceEditor .container {
	padding: 4px;
	border-bottom: 1px solid #e0e0e0;
}

select {
	margin: 0;
}

input.checkbox {
	margin: 0;
}

.checkbox-element {
	position: relative;
	_height: 1px;
	margin-bottom: 10px;
}
.checkbox-element label {
	padding-left: 20px;
}
.checkbox-element .element {
	position: absolute;
	left: 0px;
	top: 0;
	margin: 0;
}

ul.checkboxGroup li,
ul.radioButtonGroup li {
	margin: 6px 0 0 0;
}

ul.checkboxGroup input,
ul.radioButtonGroup input {
	margin: 0 2px 2px 0;
}


.single, .composite {
	clear: both;
	margin-bottom: 30px;
}

.indent {
	margin: 20px 0 0 36px;
}
.indent .indent {
	margin: 10px 0 0 0;
}
.optional .indent {
	margin-top: -12px;
}

.indent .element {
	margin-bottom: 17px;
}
.indent .indent .element {
	margin-bottom: 10px;
}
.indent .indent .indent .element {
	margin-bottom: 5px;
}

.indent label {
	display: block;
	font-weight: bold;
	color: #363636;
	margin: 0 0 4px 0;
}

.indent .indent label,
.mapItem .indent label {
	font-size: 11px;
	font-weight: normal;
	margin: 0 0 2px 0;
}

.nestedForm {
	position: relative;
}

.mapEditor ul.mapItems {
	margin: 0;
	padding: 0;
	background-color: #ebebeb;
	border-bottom: 1px solid #fff;
}
.mapEditor li {
	list-style-type: none;
	display: block;
	padding: 0;
	margin: 0;
}
.mapEditor li.compositeMapItem {
	margin-bottom: 1px;
	border-bottom: 1px solid #fff;
}
.mapEditor div.mapItem {
	padding: 10px 0 5px 36px;
	background: #fff;
}
.mapEditor .compositeMapItem div.mapItem {
	margin: 0 0 0 30px;
	padding: 10px 0 5px 6px;
	border-bottom: 1px solid #fff;
}
.mapItem .indent {
	margin-left: 10px;
}

.listEditor ul {
	padding: 0;
	margin: 0;
	background-color: #a4a4a4;
}
.listEditor li.listItem {
	list-style-type: none;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #fff;
	border-bottom: 1px solid #ebebeb;
}
table.listItem {
	width: 100%;
	border-spacing: 0;
	margin-bottom: 1px;
}
table.listItem td {
	padding: 0;
	margin: 0;
	vertical-align: top;
}
table.listItem td.handle {
	background: #ebebeb;
}
table.listItem .draggable td.handle {
	background: #ebebeb url(images/move_ns.gif) center center no-repeat;
}
table.listItem td.handle div {
	width: 30px;
}
table.listItem td.itemElement {
	width: 100%;
	padding: 10px;
}
table.listItem td.removeButton {
	padding-top: 6px;
	line-height: 1px;
}
table.listItem .group,
table.listItem .nestedForm {
	border-bottom: 0;
}
table.listItem .indent {
	margin: 0;
}
.listItem .nestedForm {
	margin: 10px 0 0 0;
}

.button-add,
.button-remove,
.button-toggle {
	margin: 0;
	border: none;
	text-indent: 32px;
	overflow: hidden;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 0;
	width: 32px;
	height: 32px;
}

* html .button-add,
* html .button-remove,
* html .button-toggle {
	padding: 32px 0 0 0;
	text-indent: 0;
}

.button-add,
.nestedForm .not-present .button-toggle {
	background-image: url(images/add.gif);
}
.button-remove,
.nestedForm .button-toggle {
	background-image: url(images/remove.gif);
}

.calendar-button {
	width: 23px;
	height: 26px;
	padding: 0;
	overflow: hidden;
	border: 0;
	vertical-align: top;
	background: ${highlight} url(images/calendar.gif) no-repeat center center;
}
#elements input.calendar-input,
#elements input.color-input {
	width: 116px;
	display: inline;
	margin-right: 5px;
}
button.color-swatch {
	width: 26px;
	height: 26px;
	overflow: hidden;
	padding: 0;
	border: 1px solid #3d3d3d;
	vertical-align: top;
}
ul.checkboxGroup,
ul.radioButtonGroup {
	padding: 0;
	margin: 20px 0 30px 36px;
}
.checkboxGroup li,
.radioButtonGroup li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.imageCheckbox {
	width: 14px;
	height: 14px;
	margin-top: 5px;
}

.imageCheckbox div {
	width: 14px;
	height: 14px;
	background: url(images/image_checkbox.gif) center center no-repeat;
}
.imageCheckbox.checked div {
	background-image: url(images/image_checkbox_checked.gif);
}

.filePreview {
	margin: 10px 0;
	overflow:hidden;
}

.filePreview .fileInfo {
	margin-bottom: 10px;
}
.filePreview .fileInfo td {
	padding: 0px;
	color: #3d3d3d;
}
.filePreview .fileInfo td.label {
	font-weight: bold;
	padding: 0 4px 0 0;
	width: auto;
	text-align: right;
}

.filePreview .download {
	width: 32px;
	height: 32px;
	float: left;
	display: block;
	background: url(images/download.gif) no-repeat;
}

.cropper {
	margin: 10px 0;
	overflow: hidden;
}
.cropper .canvas {
	border: 1px solid #ebebeb;
}
.cropper .resizeHandle {
	width: 12px;
	height: 12px;
	background: url(images/resize.gif);
}
.cropper .controls {
	margin-top: 10px;
}
.cropper .zoom {
	background-color: #cdcdcd;
	height:12px;
	margin-bottom: 10px;
}
.cropper .zoomHandle {
	width:5px;
	height:12px;
	background-color: #3d3d3d;
}

.cropper .sizeSelectors {
	height: 19px;
	float: left;
	margin: 0 8px 8px 0;
}
.cropper .sizeSelectors span {
	font-size: 10px;
	color: #3d3d3d;
	line-height: 20px;
}
.cropper .sizeSelectors span.times {
	padding: 0 6px 0 6px;
}
.cropper select {
	font-size: 10px !important;
}
.cropper .cropButton,
.cropper .undoButton {
	float: left;
	padding: 2px 8px 2px;
	margin-top: 1px;
	font-family: sans-serif;
	font-size: 10px;
	color: #fff;
	-moz-user-select: none;
	background: ${highlight};
}
.cropper .no-crop .cropButton {
	background: #cdcdcd;
}

.chooser span {
	margin-right: 10px;
	color: #3d3d3d;
}

.confirm-text p {
	margin: 10px 0 5px 0;
}

.toggle-plaintext {
	margin-top: 15px;
}

.hint-trigger {
	display: inline;
	padding-left: 12px;
	cursor: help;
	margin: 0 2px;
	background: url(images/hint.gif) 0 2px no-repeat;
}
.title .hint-trigger {
	background: url(images/hint_inverse.gif) 0 2px no-repeat;
}

.hint {
	display: none;
	background-color: #ebebeb;
	padding: 10px;
	margin-bottom: 10px;
}
div.form-hint {
	background: url(images/hint.gif) 0 2px no-repeat;
	padding-left:20px;
	margin-bottom:20px;
}

div.autocomplete {
	position: absolute;
	width: 250px;
	border: 1px solid #a4a4a4;
	margin: 0;
	padding: 0;
}
div.autocomplete ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #fff;
}
div.autocomplete ul li {
	list-style-type: none;
	display: block;
	padding: 2px;
	cursor: pointer;
	font-size: 12px;
}
div.autocomplete ul li.selected {
	background-color: #ffb;
}