@import url(common.css);

body {
	padding-left: 18px;
}

.extra .box {
	float: right;
	clear: right;
}

#childLists .list {
	margin-top:10px;
}
#childLists .item {
	padding: 3px 0 3px 35px;
}
#childLists a {
	font-weight: bold;
}

#commands {
	margin-bottom: 0;
}

#commands .saveButton {
	background-image: url(icons/commands/save.gif);
}
