@import url(common.css);

#childLists .list {
	margin-top:10px;
}
#childLists .item {
	padding: 3px 0 3px 35px;
}
#childLists a {
	font-weight: bold;
}

#commands .saveButton {
	background-image: url(icons/commands/save.gif);
}

#form-options,
#message {
	background-color: #ebebeb;
	padding: 20px 10px 20px 36px;
	margin-bottom: 50px;
}

#form-options form {
	margin-top: 10px;
}

.buttons {
	clear:both;
	margin-bottom: 30px;
	position: relative;
}
.buttons .button {
	display: block;
	float: right;
	width: 144px;
	height: 56px;
	background-color: ${highlight};
	background-position: 10px 10px;
	background-repeat: no-repeat;
}
.buttons .button .face {
	padding: 10px 0 0 40px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size:12px;
}

.buttons .button-save {
	background-image: url(images/save.gif);
}
.buttons .button-execute {
	background-image: url(images/play.gif);
}

#saving {
	margin-left: 32px;
}

div.form-error,
label.error,
.indent label.error {
	color: ${highlight};
}
.box-title label.error {
	color: #fff;
}
div.form-error {
	margin:15px 0;
}

ul.errors {
	padding-left: 0;
	margin: 0;
}
ul.errors li {
	margin: 5px 0;
	list-style-type: none;
	color: ${highlight};
	font-weight: normal;
}

label {
	font-size: 12px;
	font-weight: bold;
	color: #3d3d3d;
	-moz-user-select: none;
}
label.disabled {
	color: #888;
}

div.box-title {
	background: ${highlight} url(images/list.gif) top left no-repeat;
}
div.box-title label {
	display: block;
	font-weight: normal;
}
div.box-title .no-label {
	display: block;
	height: 15px;
}

.element {
	padding-right: 2px;
}

.single {
	margin-left: 36px;
}

.single, .composite {
	clear: both;
	margin-bottom: 30px;
}

textarea, input.text, input.number, input.password, select, option {
	font-family: verdana, arial, sans-serif;
	font-size:11px;
	color: #3d3d3d;
}
textarea, input.text, input.number, input.password {
	display: block;
	padding: 4px 0;
}
textarea.disabled, input.disabled, select.disabled {
	background-color: ButtonFace;
}

textarea, input.text, input.password {
	width: 100%;
}
input.text, input.number, input.password {
	_height: 16px;
	_overflow: visible;
}

span.read-only {
	line-height: 26px;
}

div.tinymce-disabled {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	padding: 24px 0 4px 0;
	color: #3d3d3d;
	background-color: ButtonFace;
	border: 1px solid #e0e0e0;
}
div.tinymce-disabled a {
	color: #3d3d3d;
}

#elements,
.textarea-wrapper {
	_height: 1px;
}
textarea {
	line-height: 18px;
	margin: 0px;
}
.counter {
	display:inline;
	float:right;
	margin:-1px -2px 10px 0;
	padding:0 4px;
	color:#3d3d3d;
	font-size:11px;
	background-color:#ebebeb;
}

textarea,
input.text,
input.number,
input.password{
	border: 1px solid #e0e0e0;
}

.spinButtons div {
	width: 13px;
}
.spinButtons .increase {
	background: #ebebeb url(images/up.gif) 0px center no-repeat;
}
.spinButtons .decrease {
	background: #ebebeb url(images/down.gif) 0px center no-repeat;
}
.spinButtons .increase:hover,
.spinButtons .decrease:hover {
	background-color: ${highlight};
	background-position: -13px center;
}

.numberInput .unit {
	float: left;
	padding: 5px 0 0 7px;
	font-size: 12px;
	color: #3d3d3d;
}

select {
	margin: 0;
}

input.checkbox {
	margin: 0;
}

div.checkbox {
	position: relative;
	_height: 1px;
}
div.checkbox label {
	padding-left: 20px;
}
div.checkbox .element {
	position: absolute;
	left: 0px;
	top: 0;
	margin: 0;
}

ul.checkboxGroup li,
ul.radioButtonGroup li {
	margin: 6px 0 0 0;
}

ul.checkboxGroup input,
ul.radioButtonGroup input {
	margin: 0 2px 2px 0;
	vertical-align: middle;
}

.indent {
	margin: 0 0 0 36px;
	padding-top: 8px;
}
.indent .indent {
	margin: 0;
	padding-top: 10px;
}
.indent .element {
	margin-bottom: 17px;
}
.indent .indent .element {
	margin-bottom: 10px;
}
.indent .indent .indent .element {
	margin-bottom: 5px;
}

.indent label {
	display: block;
	font-weight: bold;
	color: #363636;
	margin: 0 0 4px 0;
}

.indent .indent label,
.mapItem .indent label {
	font-size: 11px;
	font-weight: normal;
	margin: 0 0 2px 0;
}

.nestedForm {
	position: relative;
}

/*
.mapEditor ul.mapItems {
	margin: 0;
	padding: 0;
	background-color: #ebebeb;
	border-bottom: 1px solid #fff;
}
.mapEditor li {
	list-style-type: none;
	display: block;
	padding: 0;
	margin: 0;
}
.mapEditor li.compositeMapItem {
	margin-bottom: 1px;
	border-bottom: 1px solid #fff;
}
.mapEditor div.mapItem {
	padding: 10px 0 5px 36px;
	background: #fff;
}
.mapEditor .compositeMapItem div.mapItem {
	margin: 0 0 0 30px;
	padding: 10px 0 5px 6px;
	border-bottom: 1px solid #fff;
}
.mapItem .indent {
	margin-left: 10px;
}
*/

.collectionEditor ul.items {
	padding: 0;
	margin: 0;
	background-color: #a4a4a4;
}

.collectionEditor li.item {
	list-style-type: none;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #fff;
	border-bottom: 1px solid #ebebeb;
	vertical-align: top; /* Eliminates vertical gap in IE */ 
}
.collectionEditor table.item {
	width: 100%;
	border-spacing: 0;
	margin-bottom: 1px;
}
table.item td {
	padding: 0;
	margin: 0;
	vertical-align: top;
}

table.item td.handle {
	background: url(images/move_ns.gif) center center no-repeat;
}
table.item td.handle div {
	width: 20px;
}
table.item td.itemElement {
	width: 100%;
	padding: 10px;
}
table.item .draggable td.itemElement {
	padding-right: 0;
}

table.item td.removeButton {
	background: #ebebeb;
	vertical-align: middle;
}

.addKey {
	background: url(images/add_grey.gif) 10px 12px no-repeat;
	padding: 10px 0 0 42px;
}

.addKey input {
	width: auto;
	display: inline;
}

table.item .group,
table.item .nestedForm {
	border-bottom: 0;
}
table.item .indent {
	margin: 0;
}
.item .nestedForm {
	margin: 10px 0 0 0;
}

.listEditor .button-add,
.button-remove,
.button-toggle,
.button-expand,
.button-collapse {
	margin: 0;
	border: none;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 0;
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	text-indent: -9999em;
	padding-left: 256px;	
    -moz-padding-start: 0;
    -webkit-padding-start: 0;	
}

.listEditor .button-add, 
.nestedForm .not-present .button-toggle {
	background-image: url(images/add.gif);
}
.nestedForm .present {
	float: left;
}


.collectionEditor .button-remove {
	background: #fff url(images/remove_invert.gif) no-repeat;
}
.collectionEditor .button-remove:hover {
	background-color: ${highlight};
}


.button-remove,
.nestedForm .button-toggle {
	background-image: url(images/remove.gif);
}
.button-expand {
	background-image: url(images/expand.gif);
}
.button-collapse {
	background-image: url(images/collapse.gif);
	float: left;
}

.calendar-button {
	width: 23px;
	height: 26px;
	padding: 0;
	*margin-top: 1px;
	overflow: hidden;
	border: 0;
	vertical-align: top;
	background: ${highlight} url(images/calendar.gif) no-repeat center center;
}
#elements input.calendar-input,
#elements input.color-input {
	width: 114px;
	display: inline;
	margin-right: 5px;
}
button.color-swatch {
	width: 26px;
	height: 26px;
	overflow: hidden;
	padding: 0;
	border: 1px solid #3d3d3d;
	vertical-align: top;
}
ul.checkboxGroup,
ul.radioButtonGroup {
	padding: 0;
	margin: 20px 0 30px 36px;
}
.checkboxGroup li,
.radioButtonGroup li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.imageCheckbox {
	width: 14px;
	height: 14px;
	margin-top: 5px;
}

.imageCheckbox div {
	width: 14px;
	height: 14px;
	background: url(images/image_checkbox.gif) center center no-repeat;
}
.imageCheckbox.checked div {
	background-image: url(images/image_checkbox_checked.gif);
}

.chooser .chosen span {
	color: #3d3d3d;
	padding-right: 10px;
}
.chooser .chosen img {
	vertical-align: middle;
}

.confirm-text p {
	margin: 10px 0 5px 0;
}
.password .button-change {
	margin-top: 5px; 
}
.password .button-keep {
	margin: 5px 0 10px 0;
}
.password .strength {
	margin-top: 5px;
}
.password .strength .weak {
	color: #cb0038;
}
.password .strength .fair {
	color: #f57900;
}
.password .strength .strong {
	color: #73d216;
}
.toggle-plaintext {
	margin-top: 15px;
}
.toggle-plaintext input {
	vertical-align: middle;
}
.toggle-plaintext label {
	font-weight: normal;
	vertical-align: middle;
}

.hint-trigger {
	display: inline;
	padding-left: 12px;
	height: 12px;
	cursor: help;
	margin: 0 3px;
	background: url(images/hint.gif) left center no-repeat;
}
.box-title .hint-trigger {
	background: url(images/hint_inverse.gif) 0 2px no-repeat;
}

.hint {
	display: none;
	background-color: #ebebeb;
	padding: 10px;
	margin-bottom: 10px;
}
div.form-hint {
	background: url(images/hint.gif) 0 2px no-repeat;
	padding-left:20px;
	margin-bottom:20px;
}

div.autocomplete {
	position: absolute;
	width: 250px;
	border: 1px solid #a4a4a4;
	margin: 0;
	padding: 0;
}
div.autocomplete ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #fff;
}
div.autocomplete ul li {
	list-style-type: none;
	display: block;
	padding: 2px;
	cursor: pointer;
	font-size: 12px;
}
div.autocomplete ul li.selected {
	background-color: #ffb;
}