@import url(common.css);

#editors .title {
	background: #3d3d3d url(images/corner.gif) top left no-repeat;
}
#editors .title span {
	margin: 0 0 0 1px;
}

#editors a {
	display: block;
	clear: both;
	border-bottom: 1px solid #ebebeb;
	height: 82px;
	overflow: hidden;
	color: #3d3d3d;
	text-decoration: none;
}

#editors a:hover {
background-color:#ebebeb;
}

#editors .icon {
	float: left;
	width: 80px;
	height: 80px;
	background: ${highlight} url(icons/editors/arrow.gif) no-repeat;
	margin: 1px 9px 1px 1px;
}

#editors a:hover .icon {
	background-position: 0px -80px;
}

#editors .text {
	padding: 25px 0 0 7px;
}

#editors a.editor .label {
	font-size: 14px;
	font-weight: bold;
}

#notificationList {
	overflow: hidden;
}

#notifications .message {
	float: left;
	margin: 0 4px 16px 0;
}

#notifications .delete {
	float: left;
	clear: both;
	width: 9px;
	height: 9px;
	margin: 4px 0 0 -22px;
	background: url(images/remove_small.gif) no-repeat;
}

#notifications .notification {
	margin-top: 10px;
	padding-left: 35px;
}

#status a {
	text-decoration: none;
	color: #3d3d3d;
}

#status .message {
	clear: both;
	margin-top: 5px;
}

#status .message .text {
	padding-top: 5px;
	padding-bottom: 3px;
	float: left;
	width: 213px;
}

#status .message .icon {
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 5px;
	background: url(icons/commands/stepInto.gif) 0 -32px no-repeat;
}
#status a:hover {
	color: ${highlight};
}

#status a:hover .icon {
	background-color: ${highlight};
}