#name {
	margin-left: 4px;
}
#description {
	width: 600px;
	margin:20px 0 0 4px;
}

#control {
	position: relative;
	padding: 25px 4px;
	margin: 25px 0 40px 0;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}

#start, 
#cancel {
	width: 123px;
	height: 50px;
	margin: 0 10px 0 0;
	float: left;
	background-color: ${highlight_color};
	background-position: 10px 10px;
	background-repeat: no-repeat;
	cursor: pointer;
    cursor: hand;
}
#start {
	background-image: url(images/play.gif);
}
#start.running {
	background-image: url(images/pause.gif);
}
#cancel {
	background-image: url(images/cancel.gif);
}
#startFace,
#cancelFace {
	padding: 10px 0 0 40px;
	color: #fff;
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size: 12px;
}

#progress {
	margin: 0 0 0 266px;
	position: relative;
	height: 50px;
}
#finished {
	position: absolute;
	top: 25px;
	left: 4px;
	display: none;
}
#eta {
	position: absolute;
	right: 0;
	font-family: arial;
	font-size: 11px;
}
#progress .bar {
	position: absolute;
	height: 4px;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #ebebeb;
}
#percentage {
	position: absolute;
	bottom: 6px;
	text-align: right;
	color: ${highlight_color};
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
}
#progressBar {
	height: 100%;
	width: 0px;
	background-color: ${highlight_color};
}

#logTitle {
	font-weight: bold;
	margin: 0 0 8px 4px;
}
#logPane {
	clear: left;
	background-color: #ebebeb;
	padding: 2px 2px 2px 4px;
}
#log {
	height: 200px;
	overflow: auto;
	margin: 0;
}
.prio2 {
	color: ${highlight_color};
}
#log.errorsOnly .prio1 {
	display: none;
}

#logFilter {
	margin:5px 3px;
}
#logFilter input {
	margin:1px 4px 0 0;
}
#logFilter label {
	font-size:11px;
}