@import url(common.css);

#filter label {
	display:block;
}
#filter div.element {
	margin-bottom: 10px;
}

#filter .checkbox-element {
	position: relative;
	_height: 1px;
	margin-bottom: 10px;
}
#filter .checkbox-element label {
	padding-left: 20px;
}
#filter .checkbox-element input {
	position: absolute;
	left: 0px;
	top: 0;
	margin: 0;
}

#filter .buttons {
	margin: 10px 0 0 0;
}
#filter .title .icon {
	background-image: url(images/filter.gif);
}

#search input.text {
	margin: 4px 0 11px 0;
}
#search .title .icon {
	background-image: url(images/search.gif);
}

#chooser #body-wrapper {
	padding-top: 10px;
}
#chooser div.extra {
	top: 10px;
}

div#list {
	overflow: auto;
	overflow-y: hidden;
	overflow-x: auto;
	position: relative;
}

table {
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
}
thead {
	background-color: #3d3d3d;
	color: #fff;
}

th, td {
	padding: 2px 3px 2px 18px;
	margin: 0;
}
th {
	height: 13px;
	text-align: left;
	font-weight: normal;
}
th.col-1 {
	background: #3d3d3d url(images/corner.gif) top left no-repeat;
}
th.commands {
	background: #3d3d3d url(images/corner.gif) top right no-repeat;
}
th.sortable {
	cursor: pointer;
	cursor: hand;
}
th span {
	padding-right: 16px;
}
th .sorted-asc {
	background: url(images/asc.gif) 100% 55% no-repeat;
}
th .sorted-desc {
	background: url(images/desc.gif) 100% 55% no-repeat;
}
td {
	vertical-align: middle;
	float: none;
}

table.selectable td.col-1 {
	white-space: nowrap;
}

td input.check {
	margin: 0 6px 0 6px;
}
.expand {
	width: 15px;
	height: 15px;
	float: left;
	overflow: hidden;
	background: url(images/expand_collapse.gif) 0 -30px no-repeat;
}

.expandable .expand {
	background-position: 0 0;
}
.select-parent-mode .expand {
	background-color: ${highlight};
	background-position: 0 -45px;
}
.select-parent-mode .expanded .expand {
	background-color: transparent;
	background-position: -15px 0;
}
.parent-command .expand {
	background-position: 0 -45px;
	margin-right: 5px;
}
.parent-command .expand {
	background-color: #a4a4a4;
}
.parent-command .action {
	background-position: 0 -64px;
}

.parent-command .label {
	color: #a4a4a4;
}
.parent-command .enabled .label {
	color: ${highlight};
}
.parent-command .enabled .action {
	background-position: 0 0;
}

tr.highlight-parent .expand {
	background-position: 0 -15px;
}
tr.highlight-parent .enabled .action {
	background-position: 0 -32px;
	background-color: ${highlight};
}

.expanded .expand {
	background-position: -15px 0;
}

th.commands,
td.commands {
	padding: 0;
}

tbody td {
	border-bottom: 1px solid #ebebeb;
}

.view-mode tr.highlight,
.select-parent-mode tr.highlight-parent {
	background-color: #ebebeb;
}

tr.cut,
tr.copied {
	font-style: italic;
}

.pager {
	background-color: #ebebeb;
	padding: 14px;
	text-align: center;
}
.pager a, 
.pager .current-page {
	text-decoration: none;
	color: #000000;
	padding: 1px 4px;
}
.pager a:hover {
	color: ${highlight};
} 
.pager .current-page {
	color: #F9F9F5;
	background-color: ${highlight};
	font-weight: bold;
}
.pager .gap {
	font-size: 8px;
	color: #635a45;
}
.pager .gap {
	font-size: 8px;
	color: #635a45;
}

td.data .css-cell {
	display: block;
	width: 29px;
	height: 29px;
	background-position: center center;
	background-repeat: no-repeat;
}

td div.true {
	width: 29px;
	height: 29px;
	background-image: url(images/true.gif);
}
td div.false {
	width: 29px;
	height: 29px;
	background-image: url(images/false.gif);
}

#list .commands .action {
	float: left;
}

#list div.batchCommands {
	overflow: hidden;
	background: #ebebeb url(images/arrow_batch.gif) 15px center no-repeat;
	padding-left: 32px;
}

#list div.batchCommands .selectionStatus {
	float: right;
	margin-right: 8px;
	line-height: 32px;
	overflow: hidden;
}
#list div.batchCommands .selectionStatus .itemCount {
	margin-right: 8px;
}
#list div.batchCommands .selectionStatus .clear {
	text-decoration: underline;
}

#list .commands .enabled:hover,
tr.highlight .highlight-default .default {
	background-position: 0 -32px;
	background-color: ${highlight};
}

#list .busy .commands .enabled:hover,
#list .busy tr.highlight .highlight-default .default {
	background-position: 0 0;
	background-color: transparent;
	cursor: progress;
}

#list .select-parent-mode tbody .commands a {
	visibility: hidden;
}

#list .view-mode tr.parent-command {
	display: none;
}

#commands .select-parent {
	margin-left: 34px;
}

#list .commands .disabled {
	background-position: 0 -64px;
}
#list .commands .disabled:hover {
	background-color: #ebebeb;
}
