@import url(common.css);

#login {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 264px;
	margin: -180px 0 0 -150px;
}

#logo {
	height: 120px;
	background: url(images/logo.gif) right 55px no-repeat;
	margin-right: 14px;
}

form {
	margin: 0;
	padding: 0;
}

#form {
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	padding: 14px 14px 12px 14px;
	margin-bottom: 40px;
	text-align: right;
}

label {
	display: -moz-inline-stack;
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

input {
	vertical-align: middle;
}

.error {
	text-align: left;
	color: ${highlight_color};
	padding: 0 0 10px 105px; 
}

div.username {
	margin-bottom: 8px;
}
div.password {
	margin-bottom: 10px;
}

#username, 
#password {
	width: 167px;
	xline-height: 11px;
	_height: 16px;
	_overflow: visible;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #ebebeb;
	padding: 6px 4px;	
}

.button {
	display: -moz-inline-stack;
	display: inline-block;
	zoom:1;
	*display:inline;
	height: 46px;
	background: ${highlight_color} url(images/button-notch.gif) repeat-x;
}
.button-login {
	height: 46px;
	display: block;
	position: relative;
	padding: 10px 40px 30px 36px;
	_padding: 10px 10px 36px 38px;
	background: ${highlight_color} url(images/login.gif) 10px 10px no-repeat;
	border: 0;
	margin: 0 1px;
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	font-family: Arial;
	text-transform: uppercase;
	text-align: left;
	vertical-align: top;
}

#tip { 
	margin: 0 1px;
	padding: 1px 0;
	background-color: #e5e4e0;
}

#tip p { 
	margin: 0 -1px;
	padding: 12px;
	background-color: #e5e4e0;
}
