@import url(common.css);

#login {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 264px;
	margin: -180px 0 0 -150px;
}

#logo {
	height: 120px;
	background: url(images/logo.gif) right 55px no-repeat;
	margin-right: 14px;
}

form {
	margin: 0;
	padding: 0;
}

#form {
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	padding: 14px;
	overflow:hidden;
}

label {
	width: 80px;
	height: 18px;
	*height: 16px;
	line-height: 16px;
	_overflow: visible;	
	display: block;
	float: left;
	clear: left;
	padding: 5px 0;
	margin-bottom: 10px;
	margin-right: 10px;
	text-align: right;
}

.error {
	text-align: left;
	color: ${highlight};
	margin-left: 92px;
	padding-bottom: 10px;
}

#username, 
#password {
	width: 167px;
	height: 16px;
	line-height: 16px;
	_overflow: visible;	
	display: block;
	float: right;
	font-size: 11px;
	margin-bottom: 10px;
	border: 1px solid #ebebeb;
	padding: 5px 4px 4px 4px;	
	*padding: 4px 4px 4px 3px;
}

#submit {
	display: none;
}

.button-login {
	display: block;
	clear: both;
	margin-left: 138px;
	width: 133px;
	height: 46px;
	background: ${highlight} url(images/login.gif) 10px 10px no-repeat;
}
.button-login .face {
	text-align: left;
	padding: 10px 0 0 40px;
	color: #fff;
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size:12px;
}

#tip-of-the-day {
	margin-top: 50px;
	padding: 10px;
	background-color: #ebebeb;
}
