@import url(common.css);
@import url(logo.css);

body {
	margin: 0;
	padding-bottom: 0;
}
body, a, span {
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size: 11px;
	color: #000;
}
a {
	color: #000;
}

table {
	width: 100%;
	border-bottom: 1px solid #ebebeb;
}
td {
	vertical-align: middle;
}
#path {
	padding-left: 20px;
}
#project {
	width: 117px;
}
#project a {
	display: block;
	margin: 5px 20px;
}

.group,
.list,
.tree,
.form {
	padding-left: 5px;
}
.group,
.form,
.node,
.none {
	padding-right: 14px;
	background: url(images/path_arrow.gif) right 4px no-repeat;
}

.active span {
	color: ${highlight_color};
	background-image: none;
}


