@import url(common.css);
@import url(logo.css);

body {
	margin: 0;
	padding-bottom: 0;
}
body, a, span {
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size: 11px;
	color: #000;
}
a {
	color: #000;
}
.active {
	color: ${highlight_color};
}
.start-active {
	text-decoration: none;
}

.path #body-wrapper {
	padding-bottom: 0;
}
#path .none-active {
	color: #000;
}

#pathWrapper {
	margin-top: 20px;
	padding: 0;
	background-color: #ebebeb;
}
#path {
	margin: 0 0 0 22px;
	border-left: 1px solid #fff;
}

#chooser.path #path {
	margin-top: 0;
	background-color: #fff;
}
#chooser.path #path a {
	padding-right: 0;
}
#chooser.path #body-wrapper {
	padding: 10px 0 0 18px;
}

.group, .list, .tree, .form, .node, .none {
	padding-top: 4px;
	padding-bottom: 4px;
	line-height: 22px;
}

.group,
.list,
.tree {
	padding-left: 9px;
}

.list,
.tree,
.node {
	margin-right: 5px;
}

.group,
.form,
.node,
.none {
	padding-right: 9px;
	border-right: 1px solid #fff;
}

#logo {
	margin: 0 34px 0 18px;
}
