.uploadProgress {
	margin-bottom: 3px;
}

.uploadProgress .gauge {
	width: 153px;
	height: 19px;
	background-color: #fff;
	border: 2px solid; 
	border-color: #888 #fff #fff #888; 
	float: left;
	margin-right: 12px;
}

.uploadProgress .gauge .bar {
	background-color: #cb0038;
	background-image: url(progress.gif);
	height: 100%;
}

.uploadProgress .stats {
	position: relative;
	top: 4px;
}
