/* Reset */
.riotSkin table, .riotSkin tbody, .riotSkin a, .riotSkin img, .riotSkin tr, .riotSkin div, .riotSkin td, .riotSkin iframe, .riotSkin span, .riotSkin *, .riotSkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.riotSkin a:hover, .riotSkin a:link, .riotSkin a:visited, .riotSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.riotSkin table td {vertical-align:middle}

/* Containers */
.riotSkin iframe {display:block; background:#FFF}
.riotSkin .mceToolbar {height:26px}
.riotSkin .mceLeft {text-align:left}
.riotSkin .mceRight {text-align:right}

/* External */
.riotSkin .mceExternalToolbar {position:absolute; border:1px solid #CCC; border-bottom:0; display:none;}
.riotSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.riotSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url('img/icons.png') -820px 0}

/* Layout */
.riotSkin table.mceLayout {border:0; border-left:1px solid #CCC; border-right:1px solid #CCC}
.riotSkin table.mceLayout tr.mceFirst td {border-top:1px solid #CCC}
.riotSkin table.mceLayout tr.mceLast td {border-bottom:1px solid #CCC;}
.riotSkin table.mceToolbar, .riotSkin tr.mceFirst .mceToolbar tr td, .riotSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0;}
.riotSkin td.mceToolbar {padding-top:1px; vertical-align:top;background:#ebebeb;}
.riotSkin .mceIframeContainer {border-top:1px solid #CCC; border-bottom:1px solid #CCC}
.riotSkin .mceStatusbar {font:11px'Lucida Grande',Helvetica,Arial,sans-serif; overflow:visible; color:#666; display:block; height:20px}
.riotSkin .mceStatusbar div {float:left; margin:3px 0 0 4px; color:#666;}
.riotSkin .mceStatusbar a.mceResize {display:block; float:right; background:url('img/icons.png') -801px -2px; width:20px; height:20px; cursor:se-resize}
.riotSkin .mceStatusbar a:hover {text-decoration:underline}
.riotSkin table.mceToolbar {margin-left:3px}
.riotSkin span.mceIcon, .riotSkin img.mceIcon {display:block; width:20px; height:20px}
.riotSkin .mceIcon {background:url('img/icons.png') no-repeat 20px 20px}
.riotSkin td.mceCenter {text-align:center;}
.riotSkin td.mceCenter table {margin:0 auto; text-align:left;}
.riotSkin td.mceRight table {margin:0 0 0 auto;}

/* Button */
.riotSkin .mceButton {display:block; border:1px solid transparent; width:20px; height:20px; margin-right:1px}
.riotSkin a.mceButtonEnabled:hover {border:1px solid #ccc; background-color:#F1F1F1}
.riotSkin a.mceButtonActive, .riotSkin a.mceButtonSelected {border:1px solid #ccc; background-color:#F1F1F1}
.riotSkin .mceButtonDisabled .mceIcon {opacity:0.3; filter:alpha(opacity=30)}
.riotSkin .mceButtonLabeled {width:auto}
.riotSkin .mceButtonLabeled span.mceIcon {float:left}
.riotSkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Tahoma,Verdana,Arial,Helvetica}
.riotSkin .mceButtonDisabled .mceButtonLabel {color:#888}

/* Separator */
.riotSkin .mceSeparator {display:block; background:url('img/icons.png') -180px 0; width:2px; height:20px; margin:2px 2px 0 4px}

/* ListBox */
.riotSkin .mceListBox {direction:ltr}
.riotSkin .mceListBox, .riotSkin .mceListBox a {display:block}
.riotSkin .mceListBox .mceText {padding-left:4px; width:70px; text-align:left; border:1px solid #CCC; border-right:0; background:#FFF; font:11px 'Lucida Grande',Helvetica,Arial,sans-serif; height:20px; line-height:20px; overflow:hidden}
.riotSkin .mceListBox .mceOpen {width:9px; height:20px; background:url('img/icons.png') -741px 0; margin-right:2px; border:1px solid #CCC;}
.riotSkin table.mceListBoxEnabled:hover .mceText, .riotSkin .mceListBoxHover .mceText, .riotSkin .mceListBoxSelected .mceText {border:1px solid #A2ABC0; border-right:0; background:#FFF}
.riotSkin table.mceListBoxEnabled:hover .mceOpen, .riotSkin .mceListBoxHover .mceOpen, .riotSkin .mceListBoxSelected .mceOpen {background-color:#FFF; border:1px solid #A2ABC0}
.riotSkin .mceListBoxDisabled a.mceText {color:gray; background-color:transparent;}
.riotSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.riotSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.riotSkin .mceOldBoxModel .mceListBox .mceOpen {width:11px; height:22px;}
.riotSkin select.mceNativeListBox {font:11px'Lucida Grande',Helvetica,Arial,sans-serif; background:#F0F0EE; border:1px solid gray; margin-right:2px;}

/* SplitButton */
.riotSkin .mceSplitButton {width:32px; height:20px; direction:ltr}
.riotSkin .mceSplitButton a, .riotSkin .mceSplitButton span {height:20px; display:block}
.riotSkin .mceSplitButton a.mceAction {width:20px; border:1px solid #F0F0EE; border-right:0;}
.riotSkin .mceSplitButton span.mceAction {width:20px; background:url('img/icons.png') 20px 20px;}
.riotSkin .mceSplitButton a.mceOpen {width:9px; border:1px solid #F0F0EE;}
.riotSkin .mceSplitButton span.mceOpen {width:9px; background:url('img/icons.png') -741px 0;}
.riotSkin table.mceSplitButtonEnabled:hover a.mceAction, .riotSkin .mceSplitButtonHover a.mceAction, .riotSkin .mceSplitButtonSelected a.mceAction {border:1px solid #0A246A; border-right:0; background-color:#B2BBD0}
.riotSkin table.mceSplitButtonEnabled:hover a.mceOpen, .riotSkin .mceSplitButtonHover a.mceOpen, .riotSkin .mceSplitButtonSelected a.mceOpen {border:1px solid #0A246A;}
.riotSkin table.mceSplitButtonEnabled:hover span.mceOpen, .riotSkin .mceSplitButtonHover span.mceOpen, .riotSkin .mceSplitButtonSelected span.mceOpen {background-color:#B2BBD0}
.riotSkin .mceSplitButtonDisabled .mceAction, .riotSkin .mceSplitButtonDisabled span.mceOpen {opacity:0.3; filter:alpha(opacity=30)}
.riotSkin .mceSplitButtonActive a.mceAction {border:1px solid #0A246A; background-color:#C2CBE0}
.riotSkin .mceSplitButtonActive a.mceOpen {border-left:0;}

/* ColorSplitButton */
.riotSkin div.mceColorSplitMenu table {background:#FFF; border:1px solid gray}
.riotSkin .mceColorSplitMenu td {padding:2px}
.riotSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.riotSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.riotSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.riotSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.riotSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.riotSkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a}
.riotSkin .mce_forecolor span.mceAction, .riotSkin .mce_backcolor span.mceAction {overflow:hidden; height:16px}

/* Menu */
.riotSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #D4D0C8}
.riotSkin .mceNoIcons span.mceIcon {width:0;}
.riotSkin .mceNoIcons a .mceText {padding-left:10px}
.riotSkin .mceMenu table {background:#FFF}
.riotSkin .mceMenu a, .riotSkin .mceMenu span, .riotSkin .mceMenu {display:block}
.riotSkin .mceMenu td {height:20px}
.riotSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.riotSkin .mceMenu .mceText {position:relative; display:block; font-family:'Lucida Grande',Helvetica,Arial,sans-serif; color:#000; cursor:thebigreason; margin:0; padding:0 25px 0 25px; display:block}
.riotSkin .mceMenu span.mceText, .riotSkin .mceMenu .mcePreview {font-size:11px}
.riotSkin .mceMenu pre.mceText {font-family:Monospace}
.riotSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.riotSkin .mceMenu .mceMenuItemEnabled a:hover, .riotSkin .mceMenu .mceMenuItemActive {background-color:#dbecf3}
.riotSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.riotSkin .mceMenuItemTitle a {border:0; background:#EEE; border-bottom:1px solid #DDD}
.riotSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.riotSkin .mceMenuItemDisabled .mceText {color:#888}
.riotSkin .mceMenuItemSelected .mceIcon {background:url('img/menu-check.png')}
.riotSkin .mceNoIcons .mceMenuItemSelected a {background:url('img/menu-arrow.png') no-repeat -6px center}
.riotSkin .mceMenu span.mceMenuLine {display:none}
.riotSkin .mceMenuItemSub a {background:url('img/menu-arrow.png') no-repeat top right;}

/* Progress,Resize */
.riotSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; filter:alpha(opacity=50); background:#FFF}
.riotSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url('img/progress.gif') no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}
.riotSkin .mcePlaceHolder {border:1px dotted gray}

/* Formats */
.riotSkin .mce_formatPreview a {font-size:10px}
.riotSkin .mce_p span.mceText {}
.riotSkin .mce_address span.mceText {font-style:italic}
.riotSkin .mce_pre span.mceText {font-family:monospace}
.riotSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.riotSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.riotSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.riotSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.riotSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.riotSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Theme */
.riotSkin span.mce_bold {background-position:0 0}
.riotSkin span.mce_italic {background-position:-60px 0}
.riotSkin span.mce_underline {background-position:-140px 0}
.riotSkin span.mce_strikethrough {background-position:-120px 0}
.riotSkin span.mce_undo {background-position:-160px 0}
.riotSkin span.mce_redo {background-position:-100px 0}
.riotSkin span.mce_cleanup {background-position:-40px 0}
.riotSkin span.mce_bullist {background-position:-20px 0}
.riotSkin span.mce_numlist {background-position:-80px 0}
.riotSkin span.mce_justifyleft {background-position:-460px 0}
.riotSkin span.mce_justifyright {background-position:-480px 0}
.riotSkin span.mce_justifycenter {background-position:-420px 0}
.riotSkin span.mce_justifyfull {background-position:-440px 0}
.riotSkin span.mce_anchor {background-position:-200px 0}
.riotSkin span.mce_indent {background-position:-400px 0}
.riotSkin span.mce_outdent {background-position:-540px 0}
.riotSkin span.mce_link {background-position:-500px 0}
.riotSkin span.mce_unlink {background-position:-640px 0}
.riotSkin span.mce_sub {background-position:-600px 0}
.riotSkin span.mce_sup {background-position:-620px 0}
.riotSkin span.mce_removeformat {background-position:-580px 0}
.riotSkin span.mce_newdocument {background-position:-520px 0}
.riotSkin span.mce_image {background-position:-380px 0}
.riotSkin span.mce_help {background-position:-340px 0}
.riotSkin span.mce_code {background-position:-260px 0}
.riotSkin span.mce_hr {background-position:-360px 0}
.riotSkin span.mce_visualaid {background-position:-660px 0}
.riotSkin span.mce_charmap {background-position:-240px 0}
.riotSkin span.mce_paste {background-position:-560px 0}
.riotSkin span.mce_copy {background-position:-700px 0}
.riotSkin span.mce_cut {background-position:-680px 0}
.riotSkin span.mce_blockquote {background-position:-220px 0}
.riotSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.riotSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.riotSkin span.mce_forecolorpicker {background-position:-720px 0}
.riotSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.riotSkin span.mce_advhr {background-position:-0px -20px}
.riotSkin span.mce_ltr {background-position:-20px -20px}
.riotSkin span.mce_rtl {background-position:-40px -20px}
.riotSkin span.mce_emotions {background-position:-60px -20px}
.riotSkin span.mce_fullpage {background-position:-80px -20px}
.riotSkin span.mce_fullscreen {background-position:-100px -20px}
.riotSkin span.mce_iespell {background-position:-120px -20px}
.riotSkin span.mce_insertdate {background-position:-140px -20px}
.riotSkin span.mce_inserttime {background-position:-160px -20px}
.riotSkin span.mce_absolute {background-position:-180px -20px}
.riotSkin span.mce_backward {background-position:-200px -20px}
.riotSkin span.mce_forward {background-position:-220px -20px}
.riotSkin span.mce_insert_layer {background-position:-240px -20px}
.riotSkin span.mce_insertlayer {background-position:-260px -20px}
.riotSkin span.mce_movebackward {background-position:-280px -20px}
.riotSkin span.mce_moveforward {background-position:-300px -20px}
.riotSkin span.mce_media {background-position:-320px -20px}
.riotSkin span.mce_nonbreaking {background-position:-340px -20px}
.riotSkin span.mce_pastetext {background-position:-360px -20px}
.riotSkin span.mce_pasteword {background-position:-380px -20px}
.riotSkin span.mce_selectall {background-position:-400px -20px}
.riotSkin span.mce_preview {background-position:-420px -20px}
.riotSkin span.mce_print {background-position:-440px -20px}
.riotSkin span.mce_cancel {background-position:-460px -20px}
.riotSkin span.mce_save {background-position:-480px -20px}
.riotSkin span.mce_replace {background-position:-500px -20px}
.riotSkin span.mce_search {background-position:-520px -20px}
.riotSkin span.mce_styleprops {background-position:-560px -20px}
.riotSkin span.mce_table {background-position:-580px -20px}
.riotSkin span.mce_cell_props {background-position:-600px -20px}
.riotSkin span.mce_delete_table {background-position:-620px -20px}
.riotSkin span.mce_delete_col {background-position:-640px -20px}
.riotSkin span.mce_delete_row {background-position:-660px -20px}
.riotSkin span.mce_col_after {background-position:-680px -20px}
.riotSkin span.mce_col_before {background-position:-700px -20px}
.riotSkin span.mce_row_after {background-position:-720px -20px}
.riotSkin span.mce_row_before {background-position:-740px -20px}
.riotSkin span.mce_merge_cells {background-position:-760px -20px}
.riotSkin span.mce_table_props {background-position:-980px -20px}
.riotSkin span.mce_row_props {background-position:-780px -20px}
.riotSkin span.mce_split_cells {background-position:-800px -20px}
.riotSkin span.mce_template {background-position:-820px -20px}
.riotSkin span.mce_visualchars {background-position:-840px -20px}
.riotSkin span.mce_abbr {background-position:-860px -20px}
.riotSkin span.mce_acronym {background-position:-880px -20px}
.riotSkin span.mce_attribs {background-position:-900px -20px}
.riotSkin span.mce_cite {background-position:-920px -20px}
.riotSkin span.mce_del {background-position:-940px -20px}
.riotSkin span.mce_ins {background-position:-960px -20px}
.riotSkin span.mce_pagebreak {background-position:0 -40px}
.riotSkin .mce_spellchecker span.mceAction {background-position:-540px -20px}
