.mceEditor td.container {
	padding:1px 0;
}

.mceSelectList {
	margin: 3px 3px 0 0;
	font-family: 'MS Sans Serif', sans-serif, Verdana, Arial;
	font-size: 7pt !important;
	font-weight: normal;
	padding: 0;
	display: inline;
	vertical-align: top;
	background-color: #fff;
}

* html .mceSelectList {margin-top: 2px;}

.mceButtonNormal, 
.mceButtonDown, 
.mceSeparator, 
.mceButtonDisabled, 
.mceButtonSelected {
	margin-left:1px;
	line-height:1px;
}

.mceButtonNormal img, 
.mceButtonDown img, 
.mceSeparator img, 
.mceButtonDisabled img, 
.mceButtonSelected img {
	background-color: ${highlight};
}

.mceButtonNormal img,
.mceButtonDisabled img,
.mceButtonDown img {
	border: 1px solid #fff;
}

.mceButtonSelected img {
	border: 1px solid #3d3d3d;
}

.mceButtonNormal img:hover {
	border: 1px solid #3d3d3d;
}

.mceButtonDisabled img {
	background-color: #3d3d3d;
}

a.mceButtonDisabled {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	-moz-opacity:0.3;
	opacity: 0.3;
	cursor: default;
}

.mceLabel, .mceLabelDisabled {
	font-family: "MS Sans Serif";
	font-size: 9pt;
}

.mceLabel {
	color: #000000;
}

.mceLabelDisabled {
	cursor: text;
	color: #ebebeb;
}

.mceEditor {
	background: #fff;
	padding: 0px;
	margin: 0px;
}

.mceEditorArea {
	background: #fff;
	padding: 0px;
	margin: 0px;
}

.mceStatusbarBottom {
	font-size: 9pt;
	padding: 5px 20px;
	background-color: #ebebeb;
	border-top: 1px solid #3d3d3d;
}

.mceStatusbarBottom br {
	display:none;
}

.mceStatusbarPathText {
	color: #3d3d3d;
}

.mcePathItem, .mcePathItem:link, .mcePathItem:visited, .mcePathItem:hover {
	text-decoration: none;
	color: #000;
}

.mcePathItem:hover {
	text-decoration: underline;
}
