body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", arial, sans-serif;
}

a {
	color: #000 !important;
}

td, input, select, textarea {
	font-family: arial, sans-serif;
	font-size: 12px;
}

/* Charmap */

table.charmap {
	border-style: solid;
	border-width: 1px;
	border-color: #ebebeb;
}

td.charmap, td.charmapOver {
	color: #000;
	border-color: #ebebeb;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	font-size: 12px;
}

td.charmapOver {
	color: ${highlight};
	border: 1px solid ${highlight};
	cursor: default;
}

a.charmap {
	color: #000000;
	text-decoration: none
}

#codeV {
	height: 80px;
	font-size: 40px;
	text-align: center;
	color: ${highlight};
	border: 1px solid #ebebeb; 
}

#codeN {
	font-size: 10px;
	text-align: center;
}

#codeA-label, #codeB-label {
	font-size: 10px;
	text-align: center;
	border-left: 1px solid #ebebeb; 
	border-top: 1px solid #ebebeb; 
	border-right: 1px solid #ebebeb;
}

#codeA, #codeB {
	font-size: 16px; 
	font-weight: bold; 
	text-align: center;
	border-left: 1px solid #ebebeb; 
	border-bottom: 1px solid #ebebeb; 
	border-right: 1px solid #ebebeb;
}

.wordWrapCode {
	vertical-align: middle;
	border: 1px none #000000;
	background-color: transparent;
}

/* Link dialog etc. */

.tabs {
	color: #3d3d3d;
	background-color: #ebebeb;
	padding: 5px 20px;
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: 500;
	border-bottom: 1px solid #3d3d3d;
}
.tabs ul {
	margin: 0;
	padding: 0 0 0;
	list-style: none;
}
.tabs a {
	text-decoration: none;
	color: #000!important;
}

.panel {
	padding: 15px 18px 10px 18px;
	background-color: #fff;
}

.mceActionPanel {
	text-align: right;
	margin-right: 30px;
}

.mceActionPanel div {
	float: none !important;
	display: inline;
}
