#extra .riot-insert-button {
width:174px;
}

.riot-drag .source {
overflow:hidden;
}

.riot-noimage {
background:url(no-image.gif);
height:84px;
padding:10px;
}
#content .riot-noimage {
margin-bottom:32px;
}